:root.theme-sapphire {
  --primary-color: #009fa8; // 全局主色
  --info-color:  #009fa8;
  --normal-color: #d9d9d9;
  --success-color: #52c41a;
  --error-color: #f5222d;
  --warning-color: #faad14;
  --link-color: #009fa8; // 链接色
  --heading-color: rgba(0, 0, 0, 0.85);
  --text-color: rgba(0, 0, 0, 0.65);
  --text-color-secondary: rgba(0, 0, 0, 0.45);
  --disabled-color: rgba(0, 0, 0, 0.25);
  --border-color-base: rgba(0, 0, 0, 0.15);
  --line-color: #e9e9e9;
  --box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
  --body-background: #F0F2F5;
  --component-background: #ffffff;
  --background-color-light: #FAFAFA;
  --border-color-split: #ececec;
  --input-bg: #ffffff;
  --item-active-bg: rgba(0, 159, 168, 0.1);
  --item-hover-bg: rgba(0, 159, 168, 0.1);
  --header-active-color: #FFFFFF;
}